<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.my.helpcatapp">

    <uses-sdk
        android:minSdkVersion="4"
        android:targetSdkVersion="15" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/helpcat_app_launcher_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".TopActivity"
            android:label="@string/app_name"
            android:theme="@style/NoTitle">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".StudentMessageActivity"
            android:label="My Message"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".LecturerMessageActivity"
            android:label="Sends Message"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".LecturerAttendanceActivity"
            android:label="Class Attendance"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ScannerActivity"
            android:label="Scan"
            android:parentActivityName=".LecturerAttendanceActivity" />
        <activity
            android:name=".StudentEnrollActivity"
            android:label="Enroll Subject"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".UserChangePasswordActivity"
            android:label="Change Password"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".AdminResetPasswordApprovalActivity"
            android:label="Reset User Password"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".StudentAttendanceActivity"
            android:label="Attend to Class"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".QRGenerateActivity"
            android:label="My Code" />
        <activity
            android:name=".ForgotPasswordActivity"
            android:label="Forgot Password"
            android:parentActivityName=".LoginActivity" />
        <activity
            android:name=".AdminEnrollApprovalActivity"
            android:label="Subject Enrollment Approval"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".AdminRegisterStudentActivity"
            android:label="Register New Student"
            android:parentActivityName=".MainActivity" />

    </application>

</manifest>